apiVersion: batch/v1
kind: CronJob
metadata:
  name: certs4devices-job
  namespace: default
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - command:
            - /bin/bash
            - -c
            - |
              set -xe

              # Install git (needed for git+https dependencies)
              apt-get update && apt-get install -y --no-install-recommends git

              # Install k8s-cert-to-device from GitHub with forked reolink-aio
              pip install git+https://github.com/mabels/k8s-cert-to-device.git@main

              # Run the certificate upload script
              k8s-cert-to-device \
                --config /config/certs4devices.json \
                --namespace default \
                --issuer letsencrypt-prod \
                --domain-suffix .adviser.com \
                --verbose
            image: python:3.11-slim
            imagePullPolicy: IfNotPresent
            name: cert-uploader
            resources: {}
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
            - mountPath: /config
              name: router-config
              readOnly: true
          dnsPolicy: ClusterFirst
          restartPolicy: OnFailure
          schedulerName: default-scheduler
          securityContext: {}
          serviceAccount: mikrotik-cert-uploader
          serviceAccountName: mikrotik-cert-uploader
          terminationGracePeriodSeconds: 30
          volumes:
          - configMap:
              defaultMode: 420
              name: certs4devices-config
            name: router-config
  schedule: 0 2 * * 0,3
  successfulJobsHistoryLimit: 3
  suspend: false
